@charset "utf-8";
/* CSS Document */
html {height:100%;}
body{
	background-color:rgb(0,31,68);
  	height:100%;
  	font-family: Helvetica,Arial,Verdana,"Century Gothic";
}

#header {
	width:960px;
  margin-left:auto;
  margin-right:auto;
	height:45px;
	background-color:#c2011b;
	color:#fff;
	font-size:35px;
  border-style:groove;
}

#header span{
	float:right;
}

#header input {
	margin-left:5px;
	border-style:none; 
	color:white; 
	background-color:#c2011b; 
	font-size:12px;
	position:relative;
	top:-5px;
	left:-5px;
}
#header h3{margin-top:0px;}

#header a{
	float:right; 
	margin-top:0; 
	margin-right:5px; 
	font-size:12px
}

#content{
  background-color:#FFF;
  width:960px;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

.login-box{
	padding-top:30px;
	width:320px;
	margin-left:auto;
  margin-right:auto;
}

.login-box input{
	width:270px;
	height:25px;
}

.leftbar{
  width:175px;
  height:100%;
  background-color:rgb(229,229,219);
  float:left;	
}

.leftbar img{
	margin-top:10px;
	margin-left:12px;
}

.leftbar span{
  color: #3B5998;
  text-decoration: none;
  font-size:20px;
  margin-left:25px;
  margin-top:10px;
}
.leftbar p{
  color: #3B5998;
	text-align:left;
  text-decoration: none;
  font-size:20px;
  margin-left:10px;
  margin-top:10px;
}

#content .message {
	margin-top:20px; 
	width:100%; 
	border-top:solid; 
	border-color:#DDD;
}

#content .message a {
	position:absolute; 
	margin-top:20px; 
	margin-left:5px; 
	font-weight:bold; 
	color:rgb(59,89,152); 
	text-decoration:none;
}

#content .message span{
	float:left; 
	color:#bbb190; 
	position:relative; 
	top:-50px; 
	font-weight:normal; 
	margin-left:90px;
}

#content .message .messageDate {
	float:right; 
	margin-left:350px;
}

#content .message img{
	width:70px; 
	position:relative;
}
