@charset "utf-8";
/* CSS Document */
html {height:100%;}
body{
	background-color:rgb(0,31,68);
  	height:100%;
  	font-family: Helvetica,Arial,Verdana,"Century Gothic";
}

#header {
	width:960px;
  	margin-left:auto;
  	margin-right:auto;
	height:45px;
	background-color:#c2011b;
	color:#fff;
	font-size:35px;
  	border-style:groove;
}
#header h3{margin-top:0px;}
#content{
  background-color:#FFF;
  width:960px;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

.login-box{
	padding-top:30px;
	width:320px;
	margin-left:auto;
  	margin-right:auto;
}

.login-box input{
	width:270px;
	height:25px;
}

.leftbar{
  width:175px;
  height:100%;
  background-color:rgb(229,229,219);
  float:left;	
}

.leftbar img{
	margin-top:10px;
	margin-left:12px;
}

.leftbar span{
  color: #3B5998;
  text-decoration: none;
  font-size:20px;
  margin-left:25px;
  margin-top:10px;
}
.leftbar p{
  color: #3B5998;
  text-decoration: none;
  font-size:20px;
  margin-left:10px;
  margin-top:10px;
}
.rightbar{
    width: 783px;
    height: 100%;
    float: left;
}
.mainpost table{
    width: 100%;
}
.mainpost{
    border: 1px solid gray;
    width: ;
    -moz-border-radius: 14px;
    border-radius: 4px;
    margin: 6px 0 0 4px;
}
.postdisplayname a{
    color:rgb(0,31,68);
}
.posttime{
    text-align: right;
}
.postprofileimg{
    width: 50px;
}
.postprofileimg img{
    width: 50px;
    background-color: #FF0000;
}
